{% extends 'base.html.twig' %}

{% block title %}Proposal index{% endblock %}

{% block body %}
    <h1>Proposal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Name</th>
                <th>Description</th>
                <th>Created at</th>
                <th>Updated at</th>
                <th>Created by</th>
                <th>Updated by</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for proposal in proposals %}
            <tr>
                <td>{{ proposal.id }}</td>
                <td>{{ proposal.type }}</td>
                <td>{{ proposal.name }}</td>
                <td>{{ proposal.description }}</td>
                <td>{{ proposal.createdBy }}</td>
                <td>{{ proposal.createdAt | date('d/m/Y H:i:s') }}</td>
                <td>{{ proposal.updatedBy }}</td>
                <td>{{ proposal.updatedAt | date('d/m/Y H:i:s') }}</td>
                <td>
                    <a href="{{ path('proposal_show', {'slug': proposal.slug}) }}">show</a>
                    <a href="{{ path('proposal_edit', {'slug': proposal.slug}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('proposal_new') }}">Create new</a>
{% endblock %}
